@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  color: white;
  min-width: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
  grid-template-areas: "header" "main" "footer";
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  grid-area: header;
  padding: 20px;
  background-image: url("https://ilyakhasanov.ru/images/background/52.png");
}
@media (max-width: 678px) {
  .header {
    display: block;
  }
}
.header .header__menu .header__list .header__link {
  display: flex;
  display: inline-flex;
  text-align: center;
  font-size: 30px;
  color: white;
  padding-right: 20px;
}
.header .header__menu .header__list .header__link:hover {
  color: green;
}
.header .header__menu .header__list .header__link:active {
  color: yellow;
}
@media (max-width: 678px) {
  .header .header__menu .header__list .header__link {
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
  }
}

.main {
  background-image: url("https://ilyakhasanov.ru/images/background/52.png");
  grid-area: main;
  padding: 20% 10%;
  display: grid;
  grid-template: 1fr/1fr minmax(0, 0) minmax(auto, 1100px) 1fr;
  color: white;
}
@media (max-width: 610px) {
  .main {
    padding: 20% 0;
  }
}
.main .reg {
  padding: 0px 0px 0px 0;
  grid-column: 3/4;
}
.main .reg .reg__title {
  margin-bottom: 20px;
  font-size: 38px;
  text-align: center;
}
.main .reg .reg__input .reg__items {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.main .reg .reg__input .reg__items .reg__item__btn {
  display: grid;
  grid-column: 1/3;
}
@media (max-width: 489px) {
  .main .reg .reg__input .reg__items .reg__item__btn {
    grid-column: 1/2;
  }
}
.main .reg .reg__input .reg__items .reg__item__btn .reg__btn {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 14px 40px;
}
.main .reg .reg__input .reg__items .reg__item {
  display: grid;
  align-items: center;
}
.main .reg .reg__input .reg__items .reg__item .reg__item__title {
  margin-bottom: 5px;
  font-size: 20px;
  text-align: center;
}
.main .reg .reg__input .reg__items .reg__item .reg__item__input {
  background-color: black;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid white;
  text-align: center;
}

.footer {
  height: 100%;
  padding: 15px;
  background-image: url("https://ilyakhasanov.ru/images/background/52.png");
  grid-area: footer;
  align-items: center;
  font-size: 28px;
  display: grid;
  grid-template: 1fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  color: white;
}

@media (min-width: 550px) {
  .footer__copy {
    grid-column: 2/3;
  }
  .footer__text {
    grid-column: 3/4;
    text-align: right;
  }
}
@media (max-width: 550px) {
  .footer {
    grid-template: 1fr 1fr/1fr;
    justify-items: center;
  }
  .footer__copy {
    order: 2;
  }
  .footer__text {
    order: 1;
  }
}/*# sourceMappingURL=reg_style.css.map */